/*
         	Color: Cherry
        	 BASE: #b9be05
    	BASE DARK: #aab414
      	 BASE RGB: 185, 190, 5
    BASE DARK RGB: 155, 165, 20
*/
::selection,
::-moz-selection,
p::selection,
p::-moz-selection {
  background: rgba(185, 190, 5, 0.1) !important; /* Gecko Browsers */ /* WebKit/Blink Browsers */
}
.header-main-menu .nav-item a:focus,
.header-main-menu .nav-item a:active {
	background: #b9be05 !important;
}
.form-check-input:checked {
	background-color: #b9be05;
}

/* BACKGROUND BASE */
.badge-base-1,
.bg-base-1 { background: rgba(185, 190, 5, 0.1) !important; }
.badge-base-2,
.bg-base-2 { background: rgba(185, 190, 5, 0.2) !important; }
.badge-base-3,
.bg-base-3 { background: rgba(185, 190, 5, 0.3) !important; }
.badge-base-4,
.bg-base-4 { background: rgba(185, 190, 5, 0.4) !important; }
.header-main-menu .nav-item.active > a,
.badge-base-5,
.bg-base-5 { background: rgba(185, 190, 5, 0.5) !important; }
.badge-base-6,
.bg-base-6 { background: rgba(185, 190, 5, 0.6) !important; }
.badge-base-7,
.bg-base-7 { background: rgba(185, 190, 5, 0.7) !important; }
.badge-base-8,
.bg-base-8 { background: rgba(185, 190, 5, 0.8) !important; }
.badge-base-9,
.bg-base-9 { background: rgba(185, 190, 5, 0.9) !important; }
.page-item.active .page-link,
.badge-base,
.bg-base,
.ui-widget-header   { background: rgba(185, 190, 5, 1) !important; }
/* BACKGROUND BASE DARK */
.badge-base-dark-1,
.bg-base-dark-1 { background: rgba(155, 165, 20, 0.1) !important; }
.badge-base-dark-2,
.bg-base-dark-2 { background: rgba(155, 165, 20, 0.2) !important; }
.badge-base-dark-3,
.bg-base-dark-3 { background: rgba(155, 165, 20, 0.3) !important; }
.badge-base-dark-4,
.bg-base-dark-4 { background: rgba(155, 165, 20, 0.4) !important; }
.badge-base-dark-5,
.bg-base-dark-5 { background: rgba(155, 165, 20, 0.5) !important; }
.badge-base-dark-6,
.bg-base-dark-6 { background: rgba(155, 165, 20, 0.6) !important; }
.badge-base-dark-7,
.bg-base-dark-7 { background: rgba(155, 165, 20, 0.7) !important; }
.badge-base-dark-8,
.bg-base-dark-8 { background: rgba(155, 165, 20, 0.8) !important; }
.badge-base-dark-9,
.bg-base-dark-9 { background: rgba(155, 165, 20, 0.9) !important; }
.badge-base-dark,
.bg-base-dark   { background: rgba(155, 165, 20, 1) !important; }
/* BACKGROUND BASE GRADIENT */
.badge-base-gradient,
.bg-base-gradient {
background: #bbc701;
background: -moz-linear-gradient(left, #bbc701 0%, #6ba006 100%);
background: -webkit-linear-gradient(left, #bbc701 0%,#6ba006 100%);
background: linear-gradient(to right, #bbc701 0%,#6ba006 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbc701', endColorstr='#6ba006',GradientType=1 );
}

/* BORDER */
.page-item.active .page-link,
.border-base,
.main-menu.menu-light .navigation > li.open,
.main-menu.menu-light .navigation > li.active,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.form-check-input:checked 		{ border-color: rgba(185, 190, 5, 1) !important; }
.border-base-dark 	{ border-color: rgba(155, 165, 20, 1) !important; }

/* TEXT COLORs */
.nav-link,
.switch-view .active .nav-link,
.page-link, .page-link:hover,
a, a:hover,
.footer .icon-list span,
.property .property-section h1,
.property .property-section h1 a,
.property .property-section h2,
.property .property-section h2 a,
.property .property-section h3,
.property .property-section h3 a,
.property .property-section h4,
.property .property-section h4 a,
.property .property-section h5,
.property .property-section h5 a,
.property .property-section h6,
.property .property-section h6 a { color: #b9be05;   }
.main-menu.menu-light .navigation > li ul .active > a		{ color: #b9be05 !important; 	}
.text-base,
.main-menu.menu-light .navigation > li.active > a 		{ color: #b9be05 !important; 	}
.text-base-dark { color: #aab414 !important; 	}

/* LINK HOVER COLOR */
.text-base-hover:hover,
a.text-base-hover:hover 		{ color: #b9be05 !important; 	}
.text-base-dark-hover:hover,
a.text-base-dark-hover:hover 	{ color: #aab414 !important; 	}

/*============================================================*/
/* 01 BUTTONS */
/*============================================================*/
.btn-white, .btn-white-1, .btn-white-2, .btn-white-3, .btn-white-4, .btn-white-5, .btn-white-6, .btn-white-7, .btn-white-8, .btn-white-9 {
    color: #b9be05;
}
/* WHITE */
.btn-white-1:hover,
.btn-white-1.active { background: rgba(185, 190, 5, 0.9) !important; }
.btn-white:hover,
.btn-white.active 	{ background: rgba(185, 190, 5, 1) !important; }
/* BLACK */
.btn-dark-1:hover,
.btn-dark-1.active 	{ background: rgba(185, 190, 5, 0.1) !important; }
.btn-dark-2:hover,
.btn-dark-2.active 	{ background: rgba(185, 190, 5, 0.2) !important; }
.btn-dark-3:hover,
.btn-dark-3.active 	{ background: rgba(185, 190, 5, 0.3) !important; }
.btn-dark-4:hover,
.btn-dark-4.active 	{ background: rgba(185, 190, 5, 0.4) !important; }
.btn-dark-5:hover,
.btn-dark-5.active 	{ background: rgba(185, 190, 5, 0.5) !important; }
.btn-dark-6:hover,
.btn-dark-6.active 	{ background: rgba(185, 190, 5, 0.6) !important; }
.btn-dark-7:hover,
.btn-dark-7.active 	{ background: rgba(185, 190, 5, 0.7) !important; }
.btn-dark-8:hover,
.btn-dark-8.active 	{ background: rgba(185, 190, 5, 0.8) !important; }
.btn-dark-9:hover,
.btn-dark-9.active 	{ background: rgba(185, 190, 5, 0.9) !important; }
.btn-dark:hover,
.btn-dark.active 	{ background: rgba(185, 190, 5, 1) !important; }
/* BASE */
.btn-base-1 		{ background: rgba(185, 190, 5, 0.1) !important; }
.btn-base-1:hover,
.btn-base-1.active 	{ background: rgba(155, 165, 20, 0.1) !important; }
.btn-base-2 		{ background: rgba(185, 190, 5, 0.2) !important; }
.btn-base-2:hover,
.btn-base-2.active 	{ background: rgba(155, 165, 20, 0.2) !important; }
.btn-base-3 		{ background: rgba(185, 190, 5, 0.3) !important; }
.btn-base-3:hover,
.btn-base-3.active 	{ background: rgba(155, 165, 20, 0.3) !important; }
.btn-base-4 		{ background: rgba(185, 190, 5, 0.4) !important; }
.btn-base-4:hover,
.btn-base-4.active 	{ background: rgba(155, 165, 20, 0.4) !important; }
.btn-base-5 		{ background: rgba(185, 190, 5, 0.5) !important; }
.btn-base-5:hover,
.btn-base-5.active 	{ background: rgba(155, 165, 20, 0.5) !important; }
.btn-base-6 		{ background: rgba(185, 190, 5, 0.6) !important; }
.btn-base-6:hover,
.btn-base-6.active 	{ background: rgba(155, 165, 20, 0.6) !important; }
.btn-base-7 		{ background: rgba(185, 190, 5, 0.7) !important; }
.btn-base-7:hover,
.btn-base-7.active 	{ background: rgba(155, 165, 20, 0.7) !important; }
.btn-base-8 		{ background: rgba(185, 190, 5, 0.8) !important; }
.btn-base-8:hover,
.btn-base-8.active 	{ background: rgba(155, 165, 20, 0.8) !important; }
.btn-base-9 		{ background: rgba(185, 190, 5, 0.9) !important; }
.btn-base-9:hover,
.btn-base-9.active 	{ background: rgba(155, 165, 20, 0.9) !important; }
.btn-base 			{ background: rgba(185, 190, 5, 1) !important; }
.btn-base:hover,
.btn-base.active 	{ background: rgba(155, 165, 20, 1) !important; }
/* BASE DARK */
.btn-base-dark-1 		{ background: rgba(155, 165, 20, 0.1) !important; }
.btn-base-dark-1:hover,
.btn-base-dark-1.active { background: rgba(185, 190, 5, 0.1) !important; }
.btn-base-dark-2 		{ background: rgba(155, 165, 20, 0.2) !important; }
.btn-base-dark-2:hover,
.btn-base-dark-2.active { background: rgba(185, 190, 5, 0.2) !important; }
.btn-base-dark-3 		{ background: rgba(155, 165, 20, 0.3) !important; }
.btn-base-dark-3:hover,
.btn-base-dark-3.active { background: rgba(185, 190, 5, 0.3) !important; }
.btn-base-dark-4 		{ background: rgba(155, 165, 20, 0.4) !important; }
.btn-base-dark-4:hover,
.btn-base-dark-4.active { background: rgba(185, 190, 5, 0.4) !important; }
.btn-base-dark-5 		{ background: rgba(155, 165, 20, 0.5) !important; }
.btn-base-dark-5:hover,
.btn-base-dark-5.active { background: rgba(185, 190, 5, 0.5) !important; }
.btn-base-dark-6 		{ background: rgba(155, 165, 20, 0.6) !important; }
.btn-base-dark-6:hover,
.btn-base-dark-6.active { background: rgba(185, 190, 5, 0.6) !important; }
.btn-base-dark-7 		{ background: rgba(155, 165, 20, 0.7) !important; }
.btn-base-dark-7:hover,
.btn-base-dark-7.active { background: rgba(185, 190, 5, 0.7) !important; }
.btn-base-dark-8 		{ background: rgba(155, 165, 20, 0.8) !important; }
.btn-base-dark-8:hover,
.btn-base-dark-8.active { background: rgba(185, 190, 5, 0.8) !important; }
.btn-base-dark-9 		{ background: rgba(155, 165, 20, 0.9) !important; }
.btn-base-dark-9:hover,
.btn-base-dark-9.active { background: rgba(185, 190, 5, 0.9) !important; }
.btn-base-dark 			{ background: rgba(155, 165, 20, 1) !important; }
.btn-base-dark:hover,
.btn-base-dark.active 	{ background: rgba(185, 190, 5, 1) !important; }
/* BACKGROUND BASE GRADIENT */
.btn-base-gradient,
.btn-base-gradient:hover,
.btn-base-gradient.active {
background: #bbc701;
background: -moz-linear-gradient(left, #bbc701 0%, #6ba006 100%);
background: -webkit-linear-gradient(left, #bbc701 0%,#6ba006 100%);
background: linear-gradient(to right, #bbc701 0%,#6ba006 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbc701', endColorstr='#6ba006',GradientType=1 );
}